:root {
    --head-padding: 30px;
}

.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -30px 40px 1px black;
    background: white;
}

.header a {
    height: 80%;
    cursor: pointer;
    margin-left: var(--head-padding);
}

.header img {
    height: 80%;
    cursor: pointer;
    margin-left: var(--head-padding);
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    padding-right: var(--head-padding);
}

.navbar-items a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 600;
}

.navbar-items a::after {
    content: '';
    background: black;
    position: absolute;
    width: 100%;
    display: block;
    margin: auto;
    height: 1px;
    bottom: 0;
    will-change: transform;
    transition: transform .3s ease;
    transform: scaleX(0);
}

.navbar-items a.selected::after {
    transform: scaleX(1.2);
}

.navbar-items a:hover::after {
    transform: scaleX(1);
}

.btn {
    outline: none;
    border: none;
    padding: 5px 15px;
    background: black;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-family: 'Cairo', sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: .3s ease;
}

.btn:hover {
    background: #525252;
}

.burger {
    cursor: pointer;
    display: none;
    width: 40px;
    height: 40px;
    margin-right: 40px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.burger span {
    width: 90%;
    height: 3px;
    background: black;
    margin: 2px;
    transition: .3s ease;
}

.opened-burger .first-span {
    transform: rotate(45deg) translate(5px, 5px)
}

.opened-burger .second-span {
    transform: rotate(-45deg);
}

.search-bar input[type="text"] {
    padding: 15px 40px 15px 20px;
    width: 200px;
    margin: 10px 0;
    color: #525252;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: solid 1px gray;
    border-radius: 5px;
    outline: none;
}

.search-bar i {
    position: relative;
    left: -37px;
    cursor: pointer;
    color: #005fc5;
}

.form {
    width: 300px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 40px 30px 20px 30px;
}

.form input {
    width: 70%;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 4px;
}

.form textarea {
    width: 70%;
    resize: none;
    height: 200px;
    padding: 5px;
    border: solid grey 1px;
    border-radius: 4px;
}

.form span {
    height: 25px !important;
    color: red;
}

.form .btn{
    margin: 20px 20px;
}

@media only screen and (max-width: 1024px) {
    .navbar-items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        position: absolute;
        padding-top: 50px;
        top: 100%;
        opacity: 0;
        visibility: hidden;
        background: white;
        transition: 0.5s ease;
        border-top: solid 1px gray;
    }

    .navbar-items.opened {
        opacity: 1;
        visibility: visible;
    }

    .navbar-items a {
        margin-bottom: 20px;
    }

    .header img {
        height: 50%;
    }

    .burger {
        display: flex;
    }

    .navbar-items .btn{
        margin-bottom: 100px;
    }
}
